.content {
  position: relative;
  padding-top: 28px;
  /* background: #edf6ff;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto; */

  /* width: 100%; */
  /* max-width: 276px;
  margin: 0 auto; */
  /* padding-top: 28px; */
}

/* @media screen and (max-width: 768px) {
  .content {
    padding: 0;
  }
} */
